@use '../variables' as *;

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.left-nav>ul,
.right-nav>ul {}

.left-nav {


  >ul {
    display: flex;

    >li {
      padding: 10px;
    }
  }

  span {}
}

.right-nav {
  >ul {
    display: flex;
    >li {
      padding: 10px;
    }
    > .gear {
      padding-top: 3px;
    }
    
    >li:last-of-type {}
  }
  
  i {}
}

.left-nav>ul>li:hover,
.right-nav>ul>li:last-of-type:hover {}

.subscribe > button {
  background: red;
  padding: 5px;
  border-radius: 5%;
  color: antiquewhite;
}

.login > button {
  background: rgb(236, 123, 123);
  padding: 5px;
  border-radius: 5%;
  color: antiquewhite;
}

.gear > button > span {
  font-size: 30px;
}